---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.sticky-header {
  position: fixed;
  width: 100%;
  background-color: black;
}

.for-sticky-header {
  margin-top: 60px; // Add a top margin to avoid content overlay
}

.always_white_font {
  &,
  &:visited {
    color: white;
  }
}
